.l-intro {
	width: 100%;

	.l-nav {
		margin-bottom: 0;
		padding: $baseline 0;

		.navbar-right > li > a {
			padding: 15px 0 5px 0;
			margin: 0 15px;
		}
	}

}

@media(min-width:768px) {
    .l-intro {
        height: 100%;
    }
}